#{extends 'main.html' /}
<h2>View ControleAcao</h2>
<div class="entity">
	<div class="row">
		<span class="elem">
			perfil:
		</span>
		<span class="value">
      ${entity.perfil}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			controle:
		</span>
		<span class="value">
      ${entity.controle}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			listar:
		</span>
		<span class="value">
      ${entity.listar}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			exibir:
		</span>
		<span class="value">
      ${entity.exibir}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			criar:
		</span>
		<span class="value">
      ${entity.criar}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			editar:
		</span>
		<span class="value">
      ${entity.editar}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			excluir:
		</span>
		<span class="value">
      ${entity.excluir}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
</div>
<a href="@{ControleAcaos.index}">Back</a>

