#{extends 'layouts/contribuintes.html' /}
<div class="box">
	<div class="title">
		<div class="layout">Status <span style="float:right"><a class="button green small" href="@{Statuss.create}">Novo</a></span></div> 
	</div>
	<div class="inside">

		<table cellpadding="0" cellspacing="0" border="0" class="display"
			id="datatable_1">
			<thead>
				<tr>
					<th>Status</th>
					<th>
						<!-- actions -->
					</th>
				</tr>
			</thead>
			<tbody>
				#{list items:entities, as:'entity'}
				<tr class="odd gradeA">
					<td>${entity.nome}</td>
					<td>
						<a class="icon16_sprite i_zoom" aria-describedby="ui-tooltip-232" href="@{Statuss.show(entity.id)}"></a>&nbsp;
						<a class="icon16_sprite i_brush" aria-describedby="ui-tooltip-50" href="@{Statuss.edit(entity.id)}"></a>&nbsp; 
						<a class="icon16_sprite i_trash_can" aria-describedby="ui-tooltip-217" href="@{Statuss.delete(entity.id)}"	onclick="if (!confirm('Deseja realmente excluir este registro?')) return false;"></a>
					</td>				
				</tr>
				#{/list}
			</tbody>
			<tfoot>
				<tr>
					<th>Status</th>
					<th>
						<!-- actions -->
					</th>
				</tr>
			</tfoot>
		</table>
		<div class="clear"></div>

	</div>
</div>

