#{extends 'layouts/contribuintes.html' /}
<!-- ======= .grid_12 - block begin ======= -->
<section class="grid_12">
<div class="box">
	<div class="title">
		<span class="icon16_sprite i_3d"></span>Detalhe do Status
	</div>

	<div class="inside">
<div class="entity">

	<!-- ====================== -->

<div class="grid-3-12">
	<label>Status 
	</label>
</div>
<div class="grid-9-12">
	${entity.nome}
</div>
<div class="clear"></div>
<hr />

<!-- ====================== -->


</div>
<a class="button red"  href="@{Statuss.index}">Voltar</a>

	</div>
</div>
</section>
<div class="clear"></div>
<!-- ======= .grid_12 - block end ======= -->



