#{extends 'Secure/layout.html' /}

<div id="login">
	<div id="container">
	<h1>&{'secure.title'}</h1>
		
	#{form @authenticate()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<span id="username-field">
			<label for="username">&{'secure.username'}</label>
			<input type="text" name="username" id="username" value="${flash.username}" />
		</span>
		<span id="password-field">
			<label for="password">&{'secure.password'}</label>
			<input type="password" name="password" id="password" value="" />
		</span>
		<div id="lower">
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			<label class="check" for="checkbox">&{'secure.remember'}</label>
			<span id="signin-field">
				<input type="submit" id="signin" value="&{'secure.signin'}" />
			</span>
		</div>
		#{/form}	
	</div>
</div>